[2017-01-06 20:56] ellmetha opened #14 "Improve the destroy action"
* A confirmation should be added when executing `nomad destroy` (eg. `Are you sure? [yN]`)
* A "force" option (eg. `-f/--force`) should be added to this action to allow destroying containers without confirmation

[2017-01-20 22:30] #14 closed

[2017-01-27 15:43] ellmetha opened #16 "Allow to pass multiple container names to destroy, halt, provision and up actions"
Most of nomad's actions can take a single container name as argument: `up`, `halt`, `destroy`, `provision`. However it not yet possible to pass multiple container names to these actions.

[code]

The nomad's CLI tools should be updated to allow this use case!

[2017-01-27 15:57] ellmetha opened #17 "Add a 'status' action"
It'd be interesting to have an action allowing to get the statuses of the containers of a project (running / poweroff /...).

[2017-01-27 20:06] ellmetha opened #19 "Ensure root users can write into shared folders for unprivileged containers"
Currently we are using ACLs to ensure that files created by the container are accessible to the user on the host. This works fine for privileged containers, but this doesn't work for unprivileged containers where root users are not "real" root users. To handle this situation, it is necessary to identify the user ID on the host side that is mapped by LXD to the corresponding user ID on the containe

[2017-01-27 22:01] ellmetha opened #21 "Add a "nomad" user by default"
We could decide to create a "nomad" user on each container created using lxd-nomad and automatically use this user when doing `nomad shell` (unless something else is specified with the ``shell`` option). Basically this "nomad" user would have access to shared folders and could be allowed to use "sudo" without limitation.

Additionally we could add an option ``create_nomad_user`` (which would defau

[2017-01-28 21:19] #16 closed

[2017-01-28 21:24] #17 closed

[2017-02-01 18:29] #19 closed

[2017-02-01 18:38] hsoft commented on #21
It's certainly a problem to manage shared folders access to users in unprivileged containers. #19 did a good first step and I like the approach.

Fiddling I've been doing here indicates that we shouldn't even try to set ACLs from within the container, I always get "Malformed ACL" errors.

However, I don't understand the need for sudo configuration. If some user needs sudo access, ansible provision

[2017-02-02 19:00] ellmetha commented on #21
Your proposal sounds good. We could start by adding this ``users`` option. But I think that we could allow something like this too:

[code]
But let's keep this idea for another time. :wink:

[2017-02-19 16:58] ellmetha opened #25 "Add ZSH completion"
Currently only Bash completion is provided for LXD-Nomad. We should also add support ZSH completion.

[2017-02-24 03:42] ellmetha opened #28 "Add an init command"
An ``init`` command could be added in order to automatically create a LXDock file containing a basic configuration with instructions to get started. The container image could be set using a specific option, eg:

[code]

[2017-02-24 03:58] ellmetha opened #29 "Add support for new guests"
* Alpine
* Centos
* Fedora
* Gentoo
* opensuse
* ...

LXDock uses the container images listed at https://images.linuxcontainers.org/ by default.

[2017-02-24 19:40] desecho opened #30 "Speed up destroy command"
Don't attempt to stop containers when destroying them to gain speed.

[2017-02-24 19:42] desecho opened #31 "halt command always results in forced stopping"

[2017-02-24 19:46] hsoft commented on #30
Maybe that your issue in #31 is causing you to wish we would directly destroy containers? On my machine, containers are generally pretty quick to stop. Maybe there's something wrong with your configuration?

[2017-02-27 19:16] desecho commented on #30
How can I find out what is the problem with my configuration? What should I look into?

[2017-02-27 19:42] hsoft commented on #30
I'm not quite sure. I once had very slow startup/shutdown times, but that was because I had a completely non-functional setup. If you're in the same situation I was in, your containers will not get an IPv4 address.

Anyway, what are we talking about exactly? 5 seconds? one minutes? how long does it take for your containers to shut down? It should generally be less than 5 seconds, 10 seconds max.

[2017-02-27 20:02] desecho commented on #30
Startup time is fine. It looks like everything is fine with IPv4 address. Generally it forces a container to stop and that takes 30 seconds, however sometimes it succeeds in stopping the container and in that case it takes 20 seconds.

[2017-02-28 20:53] ellmetha commented on #30
@desecho could you copy paste the output of `lxc stop [container_id]`?

[2017-02-28 22:20] desecho commented on #30
There is no output for `lxc stop [container_id]`. It just hangs. However I found out that it shutdowns fine on Ubuntu 14.04 containers and it fails on Ubuntu 16.04 containers.
Here's the output of init 0 after connecting through shell:
[code]

[2017-03-03 22:32] lingxiaoyang commented on #29
A problem noted while implementing Alpine:

Alpine doesn't have `bash` so `lxdock shell` doesn't respond. The command is `ash`.

Possible solutions. Which do you think is better?
1. install `bash` when setting up Alpine.
2. Make it possible to provide the command to execute for `lxdock shell`.

I tried to make a symlink from /bin/bash to /bin/ash but it didn't work. In Alpine, /bin/ash is itself a

[2017-03-04 02:38] ellmetha commented on #29
Perhaps we could add a `shell` attribute defaulting to `bash` to the `Guest` base class. This attribute could be used by the `Container.shell` method in order to open a shell in the considered container. With this solution the `AlpineGuest` would override the `shell` attribute: `shell = 'ash'`.

[2017-03-05 01:12] hsoft commented on #30
@desecho does it work better if you make the container privileged?

[2017-03-06 15:57] lingxiaoyang commented on #29
@ellmetha  If everybody agrees on this, do I write `shell = 'ash'` in the code of `AlpineGuest` now, though it's not implemented at this moment?

[2017-03-06 16:05] ellmetha commented on #29
Perhaps you could implement it by yourself! :wink:

[2017-03-06 19:13] lingxiaoyang commented on #29
@ellmetha @hsoft  Would it work if we change this line: https://github.com/lxdock/lxdock/blame/3fd359902a7ce143309ae626bd0c61c92c6c369a/nomad/container.py#L108

from:
[code]

to:
[code]

to support the "native" shell program?

[2017-03-07 18:26] #29 closed

[2017-03-08 14:39] ellmetha opened #37 "Add support for new provisioning tools"
* chef
* puppet
* salt
* shell provisioning?
* ...

[2017-03-09 01:29] #28 closed

[2017-03-09 19:44] lingxiaoyang opened #38 "Bash completion provides wrong container name"
The names of first and last container are not correct. The control characters should be removed when parsing the `lxdock` command output.
[code]

The control characters can be seen by `less`:
[code]

[2017-03-09 20:45] ellmetha commented on #38
Fixed in f55c823. Thanks for reporting this!

[2017-03-09 20:45] #38 closed

[2017-03-10 20:55] colebrumley opened #41 "Working on remote LXD daemons?"
I run LXD kinda like `docker-machine` on OSX for dev work. I use the `Vagrantfile` in the LXD repo to start up a vagrant machine, then point my local `lxc` client at the vagrant box. Once the default remote is configured, the `lxc` client and my go-based pet project pick up the default remote values from `~/.config/lxc/config.yml` without a hitch.

When I installed `lxdock` and run `lxdock status`

[2017-03-10 21:35] hsoft commented on #41
Currently, LXDock is hardcoded for local connections, yes. But fundamentally, there's nothing stopping it from working well with remote LXD servers (at least I don't think so). It;s just that @ellmetha and I have no experience with working with this kind of setup.

Of course, a PR to add this feature would be very welcome.

[2017-03-12 16:13] ellmetha commented on #21
I'll close this issue because the `users` option is now part of LXDock. Regarding the `sudo` use case, this can be addressed using a provisioning tool.

[2017-03-12 16:13] #21 closed

[2017-03-13 13:45] geoffmcnamara opened #42 "Example lxdock.yml fails on required key not provided"
I attempted a simple lxdock.yml file with this content:

[code]

But running "lxdock up" results in this fatal error:
"The LXDock file is invalid because: required key not provided @ containers.1.name"

Can't find anything in the docs or online - what did I miss.
Thanks
-geoff-

[2017-03-13 15:55] ellmetha commented on #42
The following YML works for me:

[code]

[2017-03-13 16:08] hsoft commented on #42
@geoffmcnamara it's the spurious dashes in front of your two `image:` lines.

[2017-03-13 20:46] geoffmcnamara commented on #42
got it - thank you
lxdock is a great tool by the way

  <https://mailtrack.io/> Sent with Mailtrack
<https://mailtrack.io/install?source=signature&lang=en&referral=geoff.mcnamara@gmail.com&idSignature=22>

On Mon, Mar 13, 2017 at 12:08 PM, Virgil Dupras <notifications@github.com>
wrote:

[2017-03-13 20:58] #42 closed

[2017-03-13 23:17] colebrumley commented on #41
Thanks! I've gotten it working in a go project before using the native lib - hopefully it'll be a similar process in python. I'll take a whack at it if I get a few minutes in the next week or two.

[2017-03-14 18:53] #25 closed

[2017-03-14 21:53] GeoTob opened #43 "Update docs: unknown command in getting started"
Was just going through the getting started doc and came across this snippet:

[code]

`lxc network` is not a known command in lxc (v2.0.9 from Ubuntu 16.04 repos). I ended up configuring networking through the `lxd init` script. I would submit a PR for the docs, but no idea where `lxc network` comes from and/or what happened to it.. so here's an issue at least:)

[2017-03-15 23:14] robvdl opened #44 "create users, no password option"
If i create users in my lxdock.yml file i can only set the username and home, but not the password.

Will this be added? In the mean time I can set the password in my Ansible playbook but it would be nicer to have this in the lxdock.yml file.

For example vagrant has a default username and password of vagrant, I was reading the source of lxdock and it doesn't look like it is setting any password f

[2017-03-16 18:18] amtur8 opened #45 "adding the possibility to use `lxdock` command in subfolders"
It would be nice to be able to use `lxdock` command in subfolders, like we can do with `vagrant`.

[2017-03-19 03:13] #45 closed

[2017-03-20 03:38] robvdl opened #46 "Better user mapping of shared folders"
The way lxdock handles user mapping on shares "sort of" works, but inside the container the files of a share are still owned by NOBODY and NOGROUP which isn't very useful. Any files created on the share in the container will also be created with a strange UID on the host machine like 10000:10000 which isn't very nice either.

The way I dealt with this using LXD before finding LXDock is like this:

[2017-03-20 13:05] hsoft commented on #46
The shared folder situation is a tricky one. I know that the solution we've come up with isn't ideal, but it makes many typical workflow work.

Your approach seems interesting, but doesn't mapping root to an existing user circumvent isolation mechanisms supplied by unprivileged containers (that's a real question, I'm not sure of the answer)? If that's the case, we might as well run our containers

[2017-03-20 16:26] ytjohn opened #48 "add jinja processing to yaml config files"
With a straight yaml file format, we do end up with a disadvantage over the Vagrantfile's ruby format, the great if statement.

     if File.directory?(File.expand_path("../sisterproject"))
        config.vm.synced_folder "../sisterproject", "/sisterproject"
     end

Being able to setup a shared folder or run a provisioner based on conditions would quite beneficial.

One of the first things I tho

[2017-03-20 16:28] ytjohn commented on #48
Here are some examples. First off, Vagrantfile is a ruby construct and can do a lot of flexible things, such as looping over a list of vm.  https://www.vagrantup.com/docs/vagrantfile/tips.html

Saltstack uses jinja to manage which yaml is presented.  https://docs.saltstack.com/en/latest/topics/jinja/index.html#jinja-in-states

Ansible uses jinja for default variables and loops. https://blog.codece

[2017-03-20 16:33] grahamgreen commented on #48
👍

[2017-03-20 16:50] desecho commented on #30
@hsoft Yes, if a container is privileged it works fine.

[2017-03-21 07:32] robvdl commented on #46
Thanks for the explanation, I will have a look at privileged container over the weekend I think.

I guess this could be the reason why building deb packages in our container comes up with some sort of strange permission error with fakeroot when I do the user mapping my way... I need to dig a bit deeper into how this all works I think.

[2017-03-26 01:17] hsoft commented on #48
It looks like an interesting idea, but I wonder how many actual use cases there is for this. After all, a lxdock config file is much simpler than a saltstack config file.

For example, if this "optional share folder with fallback" example is the only actual example we can come up with, it's probably a better idea to implement this feature directly, without jinja (for example by allowing `source` t

[2017-03-26 06:10] jaylenw commented on #44
having the option to add a default password in the lxdock.yml file would be useful for me as well.

[2017-03-26 06:41] jaylenw opened #52 "Error on lxdock provision"
I am having trouble getting my lxc provisioned correctly as every time I run `lxdock provision` i run into the error in the screenshot below.

Error:
![screenshot from 2017-03-25 23-22-07](https://cloud.githubusercontent.com/assets/6505395/24329195/90d638c6-11b3-11e7-9440-1020b9d769cf.png)

After running `lxd init`, and before i run `lxdock provision` this is my lxdock.yml:
![screenshot from 2017-

[2017-03-26 11:06] jaylenw commented on #43
I also encountered the same issue you experienced. I removed lxd and config files and installed lxd using the ppa provided in the guide. I then had no issues with it on Ubuntu 16.04 in regards to "not known command".

[2017-03-26 11:07] hsoft commented on #52
This is related to #51 from yesterday. They fix is to downgrade your ws4py package to v0.3.4

[2017-03-26 20:38] jaylenw commented on #52
@hsoft ok thank you. I will close this issue now

[2017-03-26 20:38] #52 closed

[2017-03-27 20:28] luisfaceira commented on #41
What about shared folders, @hsoft ? Do you expect them to work? Because I think that they expect sharing from host to container, not from client to container, I think that would require creating network sharing such as nfs, which is not natively supported if I'm not mistaken.

[2017-03-27 20:45] luisfaceira commented on #37
I would differentiate and prioritize shell provisioning, since its likely the easiest one and in practice with a shell provisioner one can run almost any other provisioner.

[2017-03-27 21:02] hsoft commented on #41
@luisfaceira I honestly don't have much of a clue with regards to that. I very rarely use something else than linux, so I'm not familiar with this problem domain.

[2017-03-27 21:22] luisfaceira commented on #41
Just to clarify, using LXD as a deamon although notably useful in the context of using LXC outside of Linux, is not a question specific to that situation.

LXD is a (v2) client-server implementation of the original LXC (v1) which was "local-only".

This was what grabbed my attention on this project as a "vagrant is too heavy". Because if it's local only, it's not a big benefit from what our team c

[2017-03-27 23:02] robvdl commented on #46
Unfortunately I found another issue with the way lxdock does ACL's how you end up with an extra -x permission on each file (whether that is the cause I don't know)... but that does not seem to work well with Python's shutil.copytree() function which basically fails because that calls shutil.copystat which then causes an exception when os.setxattr() is called.

[2017-03-28 01:25] ellmetha commented on #41
@luisfaceira It is a true that LXD is a networked daemon, but it also provides other functionalities: an image system (LXD is image-based), snapshots, profiles, ... All these functionalities contribute to ease the use of containers (both locally or remotely).

LXDock does not currently work with remote LXD daemons but this is probably one of the features we'll be working on for the next releases.

[2017-03-28 02:21] hsoft commented on #41
The idea I've been thinkering with is [unison](https://www.cis.upenn.edu/~bcpierce/unison/) integration to act as "shared folders".

[2017-03-28 02:45] hsoft commented on #46
A low tech approach to work around this problem would be to add an option to disable ACL fiddling on shared folders. Then, it would only be a matter of having the user run `chmod -R o=Xrw` on the host and in the guest, set `umask 000` in `/etc/profile` to make sure that files created on the mount from the guest OS are accessible to the host. We would then have a somewhat usable two-way shared fold

[2017-03-28 02:49] hsoft commented on #46
Here's an interesting, relevant issue: https://github.com/lxc/lxd/issues/2025

[2017-03-28 09:16] luisfaceira commented on #41
@ellmetha Unfortunately I also think that it's not easy to add shared folder support, that was what I tried to point out in my first comment. Adding remote lxd support without shared folder is steering away completely from the vagrant-like workflow.

And I'm also arguing that supporting remote daemons should be a core feature for this project.

My argument is not that the main feature of LXD is fo

[2017-03-31 13:54] ellmetha commented on #44
This sounds like a great idea. Would you mind submitting a PR for this enhancement? This would be much appreciated! :smiley:

[2017-03-31 14:22] #43 closed

[2017-03-31 19:24] robvdl commented on #44
OK that's fine, I have just one question about that.  Should I use sha512 encrypted passwords like Ansible:

http://docs.ansible.com/ansible/user_module.html

Or should I use plaintext password since tools like lxdock and vagrant are generally only used for dev environments anyway.

I am leaning towards sha512 still for correctness, any objections?

[2017-03-31 20:13] robvdl commented on #44
Actually it has to be encrypted anyway for useradd, the manpage of useradd and the relevant place in the Ansible source code basically says it:

https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/system/user.py#L352

[2017-03-31 20:18] ellmetha commented on #44
@robvdl I think that it would be better if the solution involves encrypted passwords too. :wink:

[2017-03-31 22:34] robvdl commented on #44
@ellmetha I have a pr #60 up, it's got a test, even updated the docs, but regardless of writing the test it still failed codecov.

I think the coverage requirements are a bit too stringent, making it very difficult for contributors to get a pr through, even when writing a test for the new functionality.

[2017-03-31 23:04] robvdl commented on #44
It looks like this was existing code that was never tested in integration tests, but since I added one line, it was enough to push codecov over the edge and fail the commit.

I guess a project04 could be added with some users to the integration fixtures to get it to go through.

[2017-04-01 08:08] robvdl commented on #44
It actually looks like the additional test I can write goes in integration/test_container.py

I am adding a test to the patch now..

[2017-04-01 09:14] robvdl commented on #44
@ellmetha pr #60 is passing now

[2017-04-02 00:14] ellmetha commented on #44
Support for user passwords was added in 82ae9e0. Thanks @robvdl!

[2017-04-02 00:14] #44 closed

[2017-04-03 01:13] GeoTob opened #61 "Add a `run` command to the client"
To run commands within the container, a cli command such as `lxdock run --user <user> "command"` would be very useful to have.

The implementation of `lxdock shell` can almost support this already, would just need to append `-c <command>` to the `lxc exec <container> -- su - <user> ` command.

[2017-04-03 18:35] robvdl commented on #46
You're right, privileged containers has solved my user mapping issue and means I no longer have to put entries into /etc/subgid and /etc/subuid or have to set the raw.idmap on the container.  I had simply misunderstood what privileged containers did and am happy to close this issue for that reason.

The issue building deb files in containers that I had is not an lxdock thing either, it also happen

[2017-04-04 19:41] robvdl commented on #46
Interestingly my issue with building .deb package for our application failing due to a "permission error" during the dh_install step only happens when built from the share itself, not from any other directory.

If I move the source to /tmp, e.g. by doing a "git archive master | tar -x -C /tmp/build; cd /tmp/build; make deb" it works fine.

So it could be something to do with the share, when I do a

[2017-04-04 19:51] hsoft commented on #46
As long as your host and guest UID match (it's usually 1000), you're not going to need any ACL-fiddling in privileged containers, no.

[2017-04-06 04:52] jaylenw commented on #37
Hey, this may be a noob question but how can I have lxdock run a simple bash script upon provision?

Thank you.

[2017-04-06 07:06] robvdl commented on #46
Ok I have solved my issue building deb packages on a share by using privileged containers, then using Ansible to ensure the user in the container has the same uid and gid as the host PC.  This is possible using something like this:

    - name: detecting uid from host machine user
      shell: id -u
      delegate_to: 127.0.0.1
      register: host_user_uid

    - name: detecting gid from host mac

[2017-04-06 12:38] hsoft commented on #37
@jaylenw I'm glad you asked! it's a new feature of the newly-released v0.2 :)

See https://lxdock.readthedocs.io/en/stable/provisioners/shell.html

[2017-04-09 09:10] jaylenw commented on #37
@hsoft Cool! thank you!

[2017-04-09 23:55] GeoTob opened #63 "Ansible provisioner cannot connect"
Something my colleague has come across recently trying to provision our container on an EC2 instance.

[code]

Running `lxdock shell` works fine though and drops us right into the shell, so I suspect that maybe a key isn't injected properly?

I don't yet know how to reproduce it, as things work fine locally, but tend to not work on a clean aws ec2 machine. This happens on Ubuntu 16.10, ansible 2.2

[2017-04-10 07:44] robvdl opened #64 "lxdock shell does not handle unicode chars but SSHing in does"
If I go into my container using "lxdock shell" and run my application it fails when printing unicode chars:

UnicodeEncodeError: 'ascii' codec can't encode character '\u0101' in position 696: ordinal not in range(128)

Note this is an exception from my own application, not lxdock itself.

However, if I ssh into the container instead and run the same application, everything works fine.

[2017-04-10 11:04] hsoft commented on #64
This is probably a locale problem. If you run `locale`, what do you have in your container, `POSIX`? If that's the case, then there's your problem. It happens (at least that was the case for me) when the host doesn't have the guest's default locale.

For example, in my case, my gentoo host is `en_US.utf-8` and debian's default locale is `en_US.utf8`. I would always end up with a `POSIX` shell.

Th

[2017-04-11 02:32] robvdl commented on #64
Yes this has fixed it thanks, I'm feeling a bit silly because it is mentioned in the docs, appears to be a recent addition I missed.

Closing this because it's mentioned in the docs, and therefore not a bug.

[2017-04-11 02:32] #64 closed

[2017-04-28 19:43] robvdl opened #66 "enhancement: lxdock shell sets LOGNAME and USER environment variables"
This would be easy to add, and it would mean that Python scripts running inside the container won't return "root" always when calling getpass.getuser() even if logging into lxdock shell as another user.

At the moment the workaround is to declare LOGNAME and/or USER environment variables in your environment: section in lxdock.yml file which works fine. But it would be nice if lxdock shell was smar

[2017-05-04 17:45] lingxiaoyang opened #68 "Support LXC "profiles""
When launching an LXC container, it is possible to set up its profiles that can be managed by `lxc profile` command, for example:

[code]

LXDock should consider supporting this functionality as it's already [here](http://pylxd.readthedocs.io/en/latest/profiles.html) in pylxd. The YAML definition and the management should be further discussed.

[2017-05-05 20:00] lingxiaoyang opened #71 "[Bug] Ansible provisioner: wrong guest names and ssh not autostarted for certain guests"
In [provisioners/ansible.py](https://github.com/lxdock/lxdock/blob/master/lxdock/provisioners/ansible.py):

1. The names of ArchLinux and OracleLinux should be changed to `arch` (L19) and `ol` (L25) instead of `archlinux` and `oracle`, respectively. The names are used for detecting the distribution ([see the code](https://github.com/lxdock/lxdock/blob/master/lxdock/guests/base.py#L87-L91)) and thu

[2017-05-05 20:05] lingxiaoyang opened #72 "[Enhancement] ensure_sshd method on Guest instances"
As discussed a little bit [here](https://github.com/lxdock/lxdock/pull/69#discussion_r114900527), some setups such as ensuring sshd started could be used elsewhere and depend on Linux distributions. It may be better to move these common "ensures" to Guest instances. Then, for example, the provisioner can simply call `self.guest.ensure_sshd()` before provisioning.

Implementation details need to be

[2017-05-08 03:27] robvdl commented on #46
@hsoft: any ideas about how to go forward adding a feature for completely disabling "set host side ACL" step?  I am particularly interested in doing this for unprivileged containers.

Looking at the source in container.py it will call self._host.give_current_user_access_to_share(source) for both privileged AND unprivileged containers, but not self._host.give_mapped_user_access_to_share(source) whi

[2017-05-08 03:53] robvdl opened #73 "Recent variable substitution too fragile, please switch to jinja2"
Since upgrading from 0.2 to 0.2.1-dev, it's making my lxdock file crash.

$ lxdock destroy

<pre>
Traceback (most recent call last):
  File "/usr/bin/lxdock", line 11, in <module>
    load_entry_point('lxdock', 'console_scripts', 'lxdock')()
  File "/home/rob/Projects/lxdock/lxdock/cli/main.py", line 244, in main
    LXDock(argv=argv)
  File "/home/rob/Projects/lxdock/lxdock/cli/main.py", line 118

[2017-05-08 03:56] robvdl commented on #73
I would suggest "can we revert variable substitution", but someone has asked for this feature, so reverting it now might not be the best.

I would therefore suggest, can we please switch to jinja2 instead of string.Template so that we are not getting unexpected substitutions.

[2017-05-08 04:27] robvdl commented on #48
There has been template support added recently but using Python's builtin string.Template rather than Jinja2, however I don't quite like this as now I am having issues having to escape any $ in the lxdock file which seems like a step backwards.

So I therefore also suggested adding support for jinja2 instead, but for different reasons, because {{var}} is more robust than $var and ${var} which stri

[2017-05-08 04:55] ellmetha commented on #73
@robvdl variable substitution allows the use of environment variables in LXDock files ; which can be useful when you're using the shell provisioner or if you want to dynamically insert some secret values at runtime (values that should not be committed into your LXDock file). This also has the benefit of easing the use provisioning tools that are not yet supported by LXDock (through the use of the

[2017-05-08 05:55] robvdl commented on #73
You could probably do your own substitution where you only allow ${var} but not $var which is the problematic one.

It would be really nice if you could turn of $var parsing without curly braces in string.Template(), but unfortunately it doesn't seem like you can looking at the docs.

So if Jinja2 is not an option, the only other thing I can think of is manually substituting ${var} and not using s

[2017-05-08 06:27] robvdl commented on #73
@ellmetha: it looks like you can tweak String.template a bit: http://stackoverflow.com/questions/12768107/string-substitutions-using-templates-in-python (first answer which subclasses string.Template)

It should be possible to only allow ${var} but not $var and that would solve it.

I could have a go at it if you want, because it would be really great if this is resolved before 0.3 gets released.

[2017-05-08 11:40] robvdl commented on #73
@ellmetha please check out pr #75 which subclasses string.Template to provide a stricter version which only supports ${var} but not $var which solves the issue without having to have an option to turn on/off variable substitution.

[2017-05-09 01:08] ellmetha commented on #73
Fixed in 4999f96.

[2017-05-09 01:08] #73 closed

[2017-05-11 01:23] #61 closed

[2017-05-12 20:52] hsoft commented on #46
A `set_host_acl` option would be a good thing to add, yes.

[2017-05-12 21:35] #71 closed

[2017-05-13 20:24] robvdl commented on #46
Coo, I will definitely look into adding the set_host_acl option then if this is the preferred solution, as I really need this feature turned off.

It's not that I want to make things world writable on purpose in this case, it's just that I am using non-privileged containers and 1:1 userid and groupid mapping with the guest user sharing the same uid/gid as the host user.  It's the only way I have b

[2017-05-14 09:22] robvdl commented on #46
Created a new PR for this as I for some weird reason it failed to push up after a rebase, so I just created a new new one which is PR #79

[2017-05-14 20:24] robvdl opened #80 "Recently added doc section in conf.rst added by me is throwing an error"
lxdock/docs/conf.rst:270: ERROR: Content block expected for the "note" directive; none found.

Note: this is my fault! I will send a patch

[2017-05-14 21:47] robvdl commented on #80
Closing sorry, because this is actually in my unmerged commit

[2017-05-14 21:47] #80 closed

[2017-05-29 18:11] dtklein opened #81 "After upgrade, TypeError for timeout.py"
I just upgraded ("_sudo pip install lxdock --upgrade_", which upgraded me from lxdock 0.1.1 to 0.2.0), which also upgraded a number of pre-reqs. When I issue "_lxdock status_", "_lxdock up_", "_lxdock halt_", I get the following error message:

  File "/usr/local/lib/python3.5/dist-packages/urllib3/util/timeout.py", line 124, in _validate_timeout
    float(value)
TypeError: float() argument must b

[2017-05-29 18:19] hsoft commented on #81
Thanks for this report. I already had v0.2.0 installed locally, I ran a `pip install -U --user lxdock`, which updated a bunch of dependencies, and I have the same error.

It's probably simply a matter of properly pinning dependencies. I'm looking into it.

[2017-05-29 18:34] hsoft commented on #81
On my machine, reverting `requests` to v2.15.1 fixed the problem. Could you confirm? If it's the same on your side, I'd simply pin requests to `<2.16` until we figure out the root cause of the problem.

[2017-05-29 18:57] dtklein commented on #81
I removed and reinstalled the python package _requests_ at version 2.15.1

david@lxdock:~$ sudo -H  pip uninstall requests
Uninstalling requests-2.9.1:
  /usr/lib/python3/dist-packages/requests
  /usr/lib/python3/dist-packages/requests-2.9.1.egg-info
Proceed (y/n)? y
  Successfully uninstalled requests-2.9.1
david@lxdock:~$
david@lxdock:~$ sudo -H  pip install requests==2.15.1 --upgrade
Collecting

[2017-05-30 00:08] hsoft commented on #81
The fix would be to pin `requests` in the `setup.py`. I can do it myself, but since you've reported the issue, if you'd like to make the PR yourself, I see no problem with that. Just make sure that you target the `maint-0.2` branch I've just created.

Also, note that `requests` is a transitive dependency, so it's not currently in `setup.py`, we have to add it (if you dig in `setup.py`'s history, y

[2017-05-30 00:18] hsoft commented on #81
Oh, I was forgetting: of course, the version pinning thing is only the "stopgap" measure. If you're interested in investigating the root cause of the bug, you're also more than welcome to do so. My wild guess is that it's a bug in pylxd, which is the dependency using requests.

[2017-05-31 02:25] hsoft commented on #81
Since I haven't heard back from you @dtklein and that the bug is rather severe, I've made the hotfix myself and released a new v0.2.1.

[2017-05-31 18:57] robvdl opened #83 "Release 0.2.1 missing from release notes page in docs"
Just a minor thing, we don't have an entry here for 0.2.1

http://lxdock.readthedocs.io/en/0.2.1/release_notes/index.html

[2017-06-01 00:27] dtklein commented on #81
@hsoft I just got to look at this, checked out the maint-0.2 branch and saw you already applied the patch. Thanks.

I'll try reverting my forced-version installation of requests, upgrading lxdock and see if it works as expected.

Do you want me to reply this issue with the results, or only if it does something weird?

[2017-06-01 01:43] ellmetha commented on #83
This should be fixed now. :wink: Thanks for reporting this!

[2017-06-01 01:43] #83 closed

[2017-06-01 01:50] hsoft commented on #81
If you can confirm that v0.2.1 works fine on your end, it would be great.

[2017-06-01 02:02] dtklein commented on #81
I de-installed requests, did an upgrade of lxdock, I saw it upgraded to 0.2.1, and it put requests 2.15.1. When I ran lxdock commands, they all worked as expected. Thank you so much.

[2017-06-03 16:26] drubb opened #85 "Startup error 'Container' object has no attribute 'description'"
I've installed the latest versions of lxd (2.14) and lxdock (0.2.1). I'm trying to create and start a new container using a very simple lxdock.yml file:

[code]

This throws a error regarding a wrong container attribute:
[code]

After this, I'm able to work with the container using lxc commands, but lxdock commands keep throwing errors. E.g. here's the output from ' lxdock status':

[code]

Thanks

[2017-06-03 16:42] hsoft commented on #85
@drubb Thanks for reporting the issue, but we've been aware of it. pylxd is currently broken with new versions of LXD. I have a [PR waiting to be reviewed](https://github.com/lxc/pylxd/pull/234), but as I was saying to @ellmetha in #84 , we might want to temporarily point our `requirements.txt` to my own private branch rather than waiting for my PR to be merged.

[2017-06-03 17:05] ellmetha commented on #85
The development version of `pylxd` fixes the problem too. So yes I guess a new patch could be released to fix the problem temporarily. 😉

[2017-06-03 17:14] hsoft commented on #85
@ellmetha I haven't tried it, but while I think that pylxd's `master` will work well with LXD 2.14, I'm not sure that it will work well with older versions that don't have the `description` field.

[2017-06-03 18:07] ellmetha commented on #85
@hsoft I was just pointing out that I noticed that the development version of `pylxd` was working with LXD 2.14. I'm OK if you release a patch that uses your branch. 😉

[2017-06-04 01:18] hsoft commented on #85
Damn! this `pbr` thing makes it much harder to hot-swap the dependency directly to a git repo...

[2017-06-04 02:46] hsoft commented on #85
Done. @drubb if you install lxdock from `master` (clone the repo, `cd` into it, then run `pip install --process-dependency-links --user .`), does it work well on your side?

[2017-06-04 09:08] drubb commented on #85
Sadly, it doesn't. I'm afraid this is due to my lack of any python knowledge. I've uninstalled lxdock using pip3 uninstall, cloned the master branch, and started the build using the following command:
[code]
(assuming I should replace the missing requirements.txt file by something similar)

While the build didn't issue any errors, I couldn't figure out where the resulting 'binary' was placed, so I

[2017-06-12 20:24] dctremblay commented on #85
+1

[2017-06-15 15:40] jchampion opened #88 "Ansible provisioner "inventory" option"
Il would be nice to have an option in Ansible provisioner that would allow us to force the inventory path. The inventory that is generated right now is very simplistic and does not deal with groups. I guess you'd have to use only "all" hosts right now for it to work.

While generating the groups based on container names would be possible, the most simple solution is to allow providing the path to

[2017-06-15 17:44] hsoft commented on #88
@jchampion thanks for your PR! While I very much agree that the current situation is limiting, I'm not sure it's a good idea to go for this solution as a temporary workaround measure.

The problem here is that once we've added a new config parameter, we can't easily remove it without breaking old `lxdock.yml` config, so we'll be stuck with it for a while. If the only reason for its existence is a

[2017-06-15 18:28] lingxiaoyang commented on #41
Progress (397e4ab): thanks to LXD's networking facility, it's quite straightforward to add fundamental support. That works so far so good.

For shared folders, what we may need in next steps:

(1) reconsidering the concept of `Host`. Is it the local host or the remote host? ACL configuration requires to execute commands on remote host, do we ask user for an `ssh` command in LXDock file?

(2) creat

[2017-06-15 18:39] hsoft commented on #41
@lingxiaoyang great!

Regarding (1), I'd say that we should make ACL fiddling local-only and simply issue warnings/errors when we encounter configurations trying to mix ACLs and remote servers.

Regarding (2), yes, totally. But I don't think we need to do that *now*. Having limitations regarding shared folders when we deal with remote LXD servers seems like a very acceptable situation.

[2017-06-16 09:31] jchampion commented on #88
I would not see it as a temporary workaround but more like an advanced option.

Right now, ansible-playbook is executed with a generated inventory that looks like this:
[code]
It does not contain groups, nor does it allow any kind of tweaking such as changing the SSH user/port or any of other ansible_* options (http://docs.ansible.com/ansible/intro_inventory.html#list-of-behavioral-inventory-param

[2017-06-16 09:42] luisfaceira commented on #41
I'm excited that someone has been able to take the first steps on this direction! Kudos to @lingxiaoyang

I don't fully understand the code being submitted (don't have the time for a thorough read), so please excuse me if some of my comments are already answered or addressed in the actual solution in your commit.

---

(1)

Regarding the semantic doubt (who is the `Host`?) I think it's wrong to co

[2017-06-16 13:11] hsoft commented on #41
I hadn't looked at the code yet, but now that I look at it, I tend to agree with @luisfaceira regarding remote config. I don't see the use case for letting LXDock setup remotes. Let's just add the ability for it to use remotes other than the default one.

[2017-06-16 13:28] hsoft commented on #88
I agree 100%. LXDock is lacking in this department at the moment. My point was that pointing to a manually crafted inventory feels like a kludge. In a situation where LXDock has proper "advanced inventory" features, I don't see why would anyone manually craft an inventory file.

Yes, I know. Personally, I run ansible manually in my multi-containers projects, with a manually crafted inventory file

[2017-06-16 14:45] lingxiaoyang commented on #41
@luisfaceira  Thank you for the comments! It's great to have your feedback and know your use cases to eventually improve LXDock.

Regarding (B), more implementation details may need to be discussed as it conflicts with several localhost settings assumed by LXDock at this moment (e.g., hostname setting, container IP, shares...). But I agree with you that we try to keep the learning curve low and th

[2017-06-16 17:18] lingxiaoyang commented on #41
I reviewed my code (sorry I forgot a few details since it has been some time) and in fact the main reason that I added `lxc remote add` was to call `lxc exec` for `lxdock shell`. This is based on the fact that pylxd doesn't support interactive execute. Otherwise, I really don't need to register an `lxc remote` name.

[2017-06-16 21:55] jchampion commented on #88
I don't think it is possible to do the first without the second. We only have access to the info about one guest during provisioning right now (I think).
Do you intend on keeping backwards compatibility (one provisioning per container) ? Or switch completely to a global provisioning (including shell ?) ?

[2017-06-19 14:52] hsoft commented on #88
I don't think that global provisioning applies well to shell and puppet. What I had in mind was simply to apply ansible provisioning once with a multi-machine inventory when it was declared outside of the `containers` section. For the other type of provisioning, the behavior would stay the same.

[2017-06-22 18:25] hsoft commented on #88
@jchampion Here we go, #90

[2017-06-22 22:41] robvdl opened #92 "lxdock 0.3 release"
Hi, I am wondering when we can have an lxdock 0.3 release, getting a bit anxious because I need a newer version for my project.

Last time I checked something was holding if up because people were running a newer version of lxd than came with Ubuntu 16.04 LTS or something? is this resolved yet? why is this a concern? To me if it's not an LTS version it shouldn't matter.  Sorry to be a little blunt

[2017-06-22 23:21] hsoft commented on #92
@robvdl There's a PR ready: #86. We're waiting on pylxd: https://github.com/lxc/pylxd/pull/234 (and, also, that they have a release themselves). The main problem is that right now, the `master` branch is depending on a direct git repo reference because otherwise, the CI doesn't run. We don't want to make a new release under these conditions.

[2017-06-22 23:49] robvdl commented on #92
Ok that's cool.  An interesting thought, what if lxdock were written in Go rather than Python just like lxd itself.  No need to answer this :) it's not likely to happen and that is fine, Python is a great language.  One of the cool things is you can directly use the github.com/lxc/lxd/client library with Go, I have toyed with this before.

[2017-06-23 08:18] Shark-Linux commented on #85
Ive held back the newest version of LXD from the SharkLinux distro as lxdock is my personal favorite of all the included tools. That said, any update on this? Its not a huge deal but each repo update that is done I need to manually go in and pull the new lxd deb files before confirming the update.

[2017-06-23 14:44] hsoft commented on #92
Yeah, I agree about Go. Were we to start from scratch again, I would probably seriously consider this option. It would be a good opportunity to learn it. LXDock is a Python program because it started as a *LXC* wrapper, not a LXD one. LXC being written in C and already having builtin python bindings, it was a logical choice to choose python.

[2017-07-04 13:05] Shark-Linux opened #93 "Install error"
Curious occurrence appearing in the last release of Shark.  Getting error during install of lxdock

Collecting lxdock
  Downloading lxdock-0.2.1-py3-none-any.whl (126kB)
Collecting voluptuous<1.0,>=0.9 (from lxdock)
  Downloading voluptuous-0.10.5.tar.gz (41kB)
Collecting requests<2.16,>=2.5.1 (from lxdock)
  Downloading requests-2.15.1-py2.py3-none-any.whl (558kB)
Collecting PyYAML<4.0,>=3.0 (fro

[2017-07-04 18:10] lingxiaoyang commented on #93
@Shark-Linux  Thank you for the report!

The error message should mean that there are two Python packages depending on the `idna` package, but of different versions. That's why it was a "Conflict".

I didn't reproduce the problem during the installation in a python3.5.2 virtualenv on Ubuntu 16.04 LTS. Here are what pip collected at my side:

[code]

So it seems to me that the `idna 2.0` doesn't co

[2017-07-04 19:45] Shark-Linux commented on #93
Yea. Makes sense I suppose. Just a little baffled this just started happening. I dont have the issue when launching the script when in my cloud but it happens after a fresh install via iso. Python is installed via this script so im not sure where there would be anything preexisting. Adding to my puzzlement is the ISO build previous (and all others before it) worked flawlessly. Im sure you can unde

[2017-07-04 20:27] lingxiaoyang commented on #85
@hsoft  I saw that your PR was just merged into pylxd/master. Congrats!

We may then wait for its next release.

[2017-07-04 22:33] robvdl commented on #46
PR #79 has been merged from some time now which solved this for me.

[2017-07-04 22:33] #46 closed

[2017-07-05 05:40] Shark-Linux commented on #93
Not sure if this makes sense but I solved it.  I simply focused on what changed from previous ISO builds and the current... The issue was eliminated by installing openssh-server.

[2017-07-05 14:28] #93 closed

[2017-07-10 23:02] hsoft commented on #92
Done!

[2017-07-10 23:02] #92 closed

[2017-07-10 23:03] hsoft commented on #85
Fixed and released in v0.3.0

[2017-07-10 23:03] #85 closed

[2017-07-10 23:03] #81 closed

[2017-07-10 23:04] hsoft commented on #63
After #94, this issue will become irrelevant.

[2017-07-10 23:07] hsoft commented on #30
It took me a long time to respond, but I'm in a "cleanup" mood. If the issue is resolved in privileged mode, it means that your destroy command is slow because your container's init sequence is broken. The issue isn't, then about speeding up the destroy command, but rather to make the container work at all.

[2017-07-10 23:07] #30 closed

[2017-07-10 23:07] hsoft commented on #31
See closing comment in #30

[2017-07-10 23:07] #31 closed

[2017-07-10 23:08] hsoft commented on #72
This issue will become irrelevant with #94

[2017-07-10 23:25] dctremblay commented on #85
Thanks alot pal

[2017-07-14 17:07] hsoft commented on #88
Fixed in #90 and #95

[2017-07-14 17:07] #88 closed

[2017-07-14 18:38] hsoft opened #96 "chmod-based shared folder permission system"
ACL-based permission management is complicated doesn't work well. I had an idea today for a simple "just make the damn thing world-readable" system that would be based on `chmod` and file watching.

Because we would repeatedly `chmod -R o+rwX` folders, it's better if we limit the number of files it targets, so we'll ask users to indicate which subfolders, in their shared folder, should be world-wr

[2017-07-17 01:46] robvdl commented on #96
I have to have a think about this, because things are currently working :)

The biggest issue I can see here, is all your git files becoming dirty all at the same time, if you mess with perms in the source root of your project

[2017-07-21 14:59] lingxiaoyang commented on #41
Update: I'm working on the pylxd interactive exec (https://github.com/lxc/pylxd/pull/241). If this is accepted and merged, we can completely throw away the `lxc remote` name and focus on the endpoint!

[2017-07-26 18:36] erozqba commented on #37
@ellmetha you could remove "puppet" from the list now, thanks to @lingxiaoyang :+1:

[2017-07-29 15:51] emont01 opened #98 "Allow custom ansible inventory"
I have all my playbooks organized under a folder right next to my lxdock.yml file and it is relatively easy to write and maintain an inventory file but I am unable to tell lxdock to stop using the auto-generated inventory and use my own file so, please! add some way to control if my ansible inventory should be autogenerated or use an existing file instead.

[2017-07-29 17:37] hsoft commented on #98
Duplicate to #88. Again, I have nothing against adding this option if it's needed, but I can't imagine a use case. So, I'm curious: what's the use case?

[2017-07-29 18:23] emont01 commented on #98
Hello @hsoft

My use case
=========
lxdock assumes an inventory with a list of hosts is enough, my specific use case is the following:

I have servers installed in 2 different locations, they must communicate with each other and they do so using MariaDB master-slave mirrors, however not all places can afford the same number of servers so in one place I have 1 app server and 1 db server and in othe

[2017-07-29 19:54] hsoft commented on #98
@emont01 have you tried the grouping functionality added in #95? If yes, what exactly is lacking? To me, it should be trivial to add your A, B and C containers to their appropriate groups.

[2017-07-30 17:49] emont01 commented on #98
@hsoft indeed #95 seems like a solution to my problem, since it was merge days ago I presume is not published on any release yet, right?
Should I try installing from master branch?

[2017-07-30 23:40] hsoft commented on #98
@emont01 yes, and yes.

[2017-08-02 22:23] #98 closed

[2017-08-25 01:20] laymonk commented on #41
I discovered lxdock recently  but the initial elation I felt vanished when I discovered it expected to run local only.  Then I saw this issue thread.   Having this feature will make lxdock most attractive indeed, especially if  (at least, one) folder sharing scheme is available too.

[2017-08-28 16:33] ysolis opened #99 "option in Ansible provisioner to setup rsa, dsa or ed25519 passphrase key"
I am using now LXDock and we say in my work "bye Vagrant" :)

One thing that I note is that by default with Ansible provisioner using ssh (default) the rsa public key is exported to the container.

Will be posible to setup this and change to another keys used ? I use mostly ed25519 when i need to login to remote servers, in some cases, old CentOS 6 servers for example, I can only use rsa, and I us

[2017-08-28 17:18] hsoft commented on #99
It would probably be even better for lxdock to generate its own private key like Vagrant does. But an even better option would be to use ansible's lxd transport option (#94). If my pull request at https://github.com/ansible/ansible/pull/26922 can manage to ever be merged, I don't think there would be any reason to use SSH with lxdock at all.

[2017-09-09 11:23] robvdl commented on #99
@hsoft that would be really nice, one thing I was wondering as well, right now is there anything that can be done to get Ansible not to use root by default to login.  This is pretty strange to me and means I can't currently share my Ansible scripts with lxdock.yml and Vagrantfile because lxdock runs Ansible as root so everything is "inverted" in my Ansible scripts, it starts of as root and "become

[2017-09-09 13:02] hsoft commented on #99
@robvdl That would be an interesting feature to add, yes. And it's funny that you mention this because it would not work under the LXD transport: https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/connection/lxd.py#L46

So I think you've just found a reason why we would possibly want to keep the SSH transport around!

[2017-09-09 20:13] robvdl commented on #99
Yes so what happens when you do lxdock up is it only copies the SSH key over for the root user right now so the root user can get in passwordless.  It would be necessary to do this for all users that are created via the lxdock.yml file for this to work, or something like that.

[2017-09-13 08:04] Mantwon commented on #41
FYI - I am working on a remote version (I forked / have PR in my own fork waiting), its not quite the same as what you guys are going for, also it breaks almost all the test. :)

I used SLP and a simple crontab script to populate a node list, then writing a scheduler around that.

I really like this project!

[2017-09-18 04:06] robvdl opened #100 "packages = ['lxdock'] without subpackages will become a problem when doing debian packaging"
I know I have mentioned this before and I got the answer back that "it works".

However I have to disagree here, when you have packages = ['lxdock'] in a setup.py, you really MUST include subpackages, if you don't it will not package properly into a deb.

So it should be packages = ['lxdock', 'lxdock.guests', 'lxdock.hosts', ....]

I want to make lxdock into a deb one day, so I am just mentioning

[2017-09-27 03:35] ysolis commented on #63
@GeoTob which one is your ssh config to the AWS instance ? ForwardAgent by default ?

[2017-10-03 00:02] hsoft commented on #100
@robvdl I should have listened to you better. The v0.4.0 release is broken because of this. Creating a v0.4.1 one...

[2017-10-03 00:05] hsoft commented on #100
What files are missing the the MANIFEST.in for debian packaging to work properly?

[2017-10-03 01:03] robvdl commented on #100
@hsoft I had a look at this project and the MANIFEST.in file won't be an issue here, it's not applicable because there are only code subfolders in lxdock folder, not templates or static files etc.

So should be OK to close this issue.

[2017-10-03 01:22] #100 closed

[2017-11-03 23:56] battlemidget opened #103 "support for snap lxd"
Workaround:

[code]

Would be nice to pass in an option in `.lxdock.yml` to specify either `LXD_DIR` or that you are running a snap version of lxd since eventually this will be the preferred way of installing lxd.

[2017-11-04 00:04] hsoft commented on #103
@battlemidget considering that this option is environment-specific rather than project-specific, isn't `.env` better suited for this kind of option?

[2017-11-04 00:09] battlemidget commented on #103
At the very least I would think lxdock could possibly check for the existence of snap lxd? With 18.04 around the corner and snaps being pushed heavily it may be worth supporting snaps early on to iron out any possible initial user experience problems.

[2017-11-04 02:34] hsoft commented on #103
lxdock relies on pylxd for finding the proper path for the unix socket to connect to and it looks like [snap support was added recently](https://github.com/lxc/pylxd/blob/master/pylxd/client.py#L246). We just have to wait for a pylxd release and everything should be alright.

[2017-11-04 02:59] battlemidget commented on #68
I think this one can be closed?

[2017-11-04 15:14] hsoft commented on #68
Hum, yes, I think so. I haven't followed the development of this feature much, but it looks merged...

[2017-11-04 15:14] #68 closed

[2017-11-10 12:24] gokr opened #104 "I don't get any stdout/stderr from shell provisioning"
I am guessing lxdock only captures output on the host side, but ... it would be nice with output from shell provisioning too :)

[2017-11-21 23:22] nkabir opened #105 "Using alias for private images in lxdock.yml"
An `lxdock.yml` with the full hash fingerprint of a private image works fine with `lxdock up`. However, using an alias for that image does not. Calling

    $ lxc launch <alias>

also works. Is there a naming convention required for the `lxdock.yml` file?

[2017-11-22 02:13] nkabir commented on #105
Apologies. I missed this:

You should note that you can also use “local” container aliases. This is not the most common scenario but you can manage your own image aliases and decide to use them with LXDock. You’ll need to use the mode: local option if you decide to do this (the default mode is pull).

[2017-11-22 02:13] #105 closed

[2017-12-08 21:14] hsoft opened #106 "I don't use lxdock anymore"
@ellmetha are you still using it?

I've had second thoughts about the usefulness of creating lxdock. Sure LXD isn't supported on vagrant (there's a new `vagrant-lxd` plugin but it doesn't look like it works well), but I've been working directly with LXC and `vagrant-lxc` recently and, as a matter of fact, it works rather well.

Sure, the whole "box management" part is tricky with LXC/LXD and a `va

[2017-12-09 01:20] ellmetha commented on #106
I don't use it anymore neither. What you said regarding vagrant-lxc makes sense so yes, let's write somewhere that LXDock became unmaintained. 😉

[2017-12-11 08:18] robvdl commented on #106
I still use it because I never had much luck with vagrant-lxc in the past and due to it's lack of maintenance and the difficulty I had to install it in the past, is how I initially actually found lxdock in the first place :) I am a bit busy right now with a bunch of Wagtail sites though, but for some crazy reason I always had a burning desire to rewrite it in Go, or is that just madness?  You prob

[2017-12-11 14:22] hsoft commented on #106
@robvdl if you get to feature parity with the current python version, I don't see the harm in rewriting it (other than what some people would see as needless efforts, but I understand that burning desire: what the hell, let's make useless things!).

But you might want to start a new project altogether. This way, you wouldn't be tied to implementing some feature you might like less about lxdock.

[2017-12-11 18:05] robvdl commented on #106
I think lxdock should stay as it is for the time being, keep it Python, if I was to do a rewrite, it will be next year and it will probably be best under another project name entirely.  And yes I probably would only start with implementing the features I cared about the most, which would be to keep it as simple as possible for development containers, I would particularly focus on the dev mount per

[2017-12-11 19:57] hsoft commented on #106
@robvdl fair enough, you're in!

[2017-12-13 20:19] samedney opened #107 "Issue with environment variables"
Using Ubuntu 16.04.

Im already using lxdock successfully, and now Im trying to start using some environment variables to speed things up.

It seems as though the environment variables are not picked up by the lxdock file. What am I doing wrong?

I have this `.env` file in the same directory as my `.lxdock.yml` file:

[code]

And this is the `.lxdock.yml` file.

[code]

I also tried doing the vars

[2017-12-15 13:29] nkabir opened #109 "Ongoing project maintenance"
I've merged pull request #108. @robvdl will have more time in about a month to help. In the meantime, are there any LXDock-specific guidelines for publishing to PyPI and readthedocs.io? Are there any other items to manage for the LXDock development life cycle?

[2017-12-15 14:28] hsoft commented on #109
To my knowledge, there isn't much to do other than manage incoming issues and PRs and develop new features to your liking.

[2017-12-15 17:52] robvdl commented on #109
We'll figure the release process out in time I think, we need to have a good look at the current state first, when wast the last time there as a pypi release, is the project in a good state for a pypi release or do we still need to fix a number of things first, etc.

I will be available in a week or so... not a month, what I was saying is I have holidays in a weeks time, that last a month so plent

[2017-12-15 19:01] nkabir commented on #106
Agree on all counts, @robvdl. I prefer a code-reviewed release process.

[2017-12-22 21:02] robvdl commented on #48
I think this could be useful but we would have to break compatibility with the older lxdock.yaml file format.

There is some basic variable substitution in lxdock 0.4 in the form ${ENVVAR} and is currently used to load.env files by some users.

This might be something to consider for an 0.5 release because it would break backwards compatibility, but it might be OK if we can still support the users

[2018-03-02 16:23] shuhaowu opened #114 "lxdock share guest created files not mapped to the host user?"
I have a guest created file via the a normal guest user account (non-root). Back on the host, the file has the attributes:

[code]

This means I can't edit this file easily as vim will complain about readonly. How does vagrant-lxc get around this issue?

[2018-03-02 21:19] robvdl commented on #114
This is a good question because I have had to work around this issue myself too.  And this is the number one issue on my mind since getting access rights to the project late last year.

I don't like the way it works right now and this is one of the big things I would like to solve.

Currently what lxdock does is set advanced permissions on each file in your source tree using the setfacl command, w

[2018-03-02 21:24] shuhaowu commented on #114
One usecase I'm looking into is the ability to use lxdock as a base for a build container, like building kernels/debian packages/whatever else that requires a lot of dependencies to be installed. I used to use lxd for this purpose but with lxdock the configuration phase may be simpler.

That's for another day, tho.

[2018-03-02 21:30] robvdl commented on #114
It will be once I fix these quirks, the setfacl thing dirty every file is really bad I think.

We use ansible to setup a build container with lxdock, but there is another issue that the ansible user is root by default when lxdock invokes ansible which is also very backwards compared to how vagrant works where it would go in as the vagrant user.

This has disallowed me from using the same ansible p

[2018-03-02 21:34] shuhaowu commented on #114
Ha! I was looking at this issue earlier, but haven't had a chance to look at a fix.

Having a default user sounds like a good idea as this will bring some much needed stability to the wide variety of images out there. That was also why I added #111.

[2018-03-02 21:37] robvdl commented on #114
Thanks, I'll have a look a bit later.

[2018-03-02 21:43] hsoft commented on #114
Shared folders is a mess, I agree. I could never manage to implement a proper solution. Good luck and godspeed :)

[2018-03-02 21:54] robvdl commented on #114
I think if we create a default user then in order to avoid uid / gid clashes for 2 users on a VM, the ubuntu user does need to be deleted and it's home directory removed.

I was thinking create a lxdock / lxdock user by default and map the uid and gid to the guest os user later for shares.

If one of the users in the lxdock.yml has default = yes, then that becomes default user instead and it won't

[2018-03-03 23:25] shuhaowu opened #115 "port forwarding"
Just noticed that this is not a thing as far as I can tell. Should be something to work on.

[2018-03-03 23:26] shuhaowu commented on #115
For a hack, could just use ssh port-forwarding: `ssh -L 5000:localhost:5000 lxdock@ip`

[2018-03-04 03:36] shuhaowu commented on #114
For future reference, the command to unset the setfacl permissions is this:

[code]

May need to chown * to your user, as well (and any .dot directories/files along with that)

[2018-03-04 04:11] shuhaowu opened #116 "lxdock shell with user defined without home defined tries to set HOME=/root"
From what I can tell, the way we enter a container is something like:

[code]

Is there a reason why we don't just use `su -l user`? According to man:

       -, -l, --login
           Provide an environment similar to what the user would expect had the user logged in directly.
       -m, -p, --preserve-environment
           Preserve the current environment, except for:

           $PATH

[2018-03-04 04:27] shuhaowu commented on #116
For the record, this is what happens if you have just an user entry under shell (no home defined):

[code]

[2018-03-04 05:37] shuhaowu commented on #114
I found a way to fix this and will have a rudimentary PR open (no tests, and some test breakage for sure).

Turns out there's already a nice way to deal with this, documented here: https://stgraber.org/2017/06/15/custom-user-mappings-in-lxd-containers/

[2018-03-05 07:10] robvdl opened #118 "Travis CI builds are failing because LXD PPA no longer exists"
Or so it seems, looking at Travis CI output.

I am not sure why we are supporting Ubuntu 14.04 which didn't come with LXD.

I would prefer to fix this by making Ubuntu 16.04 the minimum required OS version and stop using 14.04 and the PPA if possible.

[2018-03-05 19:45] robvdl commented on #106
Just putting a note here for people to read.  The project isn't unmaintained but it may be a while before the 0.5 release, we have some plans of where to take the project but right not the immediate issue is that the tests stopped working on Travis CI and that is because Ubuntu have deprecated the PPA for LXD and we are having some issues trying to get a commit past that will use the Snap version

[2018-03-06 02:54] battlemidget commented on #106
@robvdl let me know if you need any help, we use snap lxd in our tests for conjure-up https://github.com/conjure-up/conjure-up/blob/master/.travis.yml

travis-ci is a little iffy sometimes with snap on 14.04 but usually works well enough if you have to restart a test every once in awhile.

[2018-03-06 08:41] robvdl commented on #106
@battlemidget thanks for that, I can follow this, I probably don't need all of it but there is some u.  I am just wondering why in your Makefile you are installing Python 3.6 from a PPA. Is this still necessary? Don't travis already provide Python 3.6?

[2018-03-06 11:08] robvdl commented on #106
@battlemidget we almost got there, with your advice I have managed to get snap lxd working on Trusty, but we're still running into this strange recursion issue while installing both pylxd 2.2.4 or 2.2.5, it doesn't seem to make a difference which version is used.

https://travis-ci.org/lxdock/lxdock/jobs/349757645#L867

Going to take a break from this for the moment, but will have another go at fi

[2018-03-09 10:04] robvdl commented on #107
This was fixed in master, we should close it.

[2018-03-09 10:04] #107 closed

[2018-03-10 05:04] #118 closed

[2018-03-10 05:11] robvdl commented on #103
fixed

[2018-03-10 05:11] #103 closed

[2018-03-10 07:42] robvdl opened #122 "Documentation tasks for 0.5"
[ ] Document idmap changes
[ ] Document network timeout (extras)

[2018-03-10 08:00] robvdl opened #123 "Build failed once for Py3.6 since adding flexible wait timeout PR #110"
Could be an anomaly, might be nothing.

I've restarted the tests but just creating an issue for if it happens again.

The Python 3.4 and 3.5 jobs passed, it only happened once the PR was merged into master.

[2018-03-11 10:46] robvdl commented on #109
I also wanted to know what to do about the README list of authors (maintainers), it lists the two original authors and then a link to the contributors.  I think this comes up in the docs too and several other places.

The question is what to put there now, I can put my name in that list, do we want the original author names to remain there is upto them.  Should this be a list of active maintainers

[2018-03-11 14:10] hsoft commented on #109
sure, no problem. Whatever seems best to you.

[2018-03-11 20:03] robvdl commented on #109
I was thinking maybe 2 headings, active maintainers and past or previous maintainers mostly so people know who to contact for the project, as well as have a link to the contributors in github as we have now.

[2018-03-11 20:22] robvdl commented on #109
I might also be able to convince maybe two more devs to handle code reviews for me, maybe one person from work as well as a friend who is starting to use lxdock too as a developer.

[2018-03-12 00:29] robvdl commented on #109
@hsoft I can't seem to add @johncurley to the group because I am member of the group but not owner.

I want him to help out with my code review queue.

[2018-03-12 00:32] ellmetha commented on #109
@robvdl I've just invited him to the group. 😉

Regarding the list of authors, feel free to change it to whatever seems right to you. But I think that a mention regarding the original authors of this project should be kept somewhere.

[2018-03-12 01:54] robvdl commented on #123
I haven't seen this come back, I am going to put this down as a Travis anomaly and close it.

If it comes back, we'll re-open it then.

[2018-03-12 01:54] #123 closed

[2018-03-12 01:59] robvdl commented on #109
Off course I would never remove the original authors, which is pretty much what I said :)

[2018-03-12 09:49] robvdl commented on #116
Thank you, not only have you fixed this, but also #66 which was on my todo list.

[2018-03-12 09:49] #116 closed

[2018-03-12 09:50] robvdl commented on #66
fixed by PR #117

[2018-03-12 09:50] #66 closed

[2018-03-12 10:22] robvdl opened #129 "lxdock shell -c "command" in quotes produces strange error"
Without quotes:

    $ lxdock shell -c ls /
    bin  boot  dev  etc  home  lib  lib64  media  mnt  opt  proc  root  run  sbin  src  srv  sys  tmp  usr  va

With quotes:

    $ lxdock shell -c "ls /"
    /.lxdock.d/shell_cmd.sh: 2: /.lxdock.d/shell_cmd.sh: ls /: not found

[2018-03-12 10:27] robvdl commented on #129
Also this is a bit scary:

This command

    lxdock shell -c cd /tmp; pwd

Does not run pwd on the container but on the host.

Because I can't put quotes around it due to this issue, I can't find a nice way to run two commands like change directory and run a build for example.

I think when this feature got added there were a few issues around it, it doesn't quite seem to work right.

[2018-03-12 19:37] shuhaowu commented on #129
Looking at the `Container.shell` code it looks like it's expecting a list of cmd args. Seems like this behaviour should be changed to taking a shell string.

[2018-03-13 09:44] robvdl commented on #129
The shell method has mutable default arguments too.

[2018-03-13 10:46] robvdl commented on #129
It seems the shlex.quote is doing it. It's wrapping it in single quotes so it's 'command1; command2' and then puts that in a shell script which it uploads.

I wonder if I strip the quotes that will be a good enough fix, but then I wonder why it needs to run through shlex.quote at all, I'm not even sure why it's needed.

[2018-03-13 10:53] robvdl commented on #129
I've looked at this a few times and my only conclusion is that running each argument shlex.quote is not needed and actually breaks things. @shuhaowu what do you think?

If we were to make this the same as Vagrant all you have to do is remove the shlex.quote and it behaves as you would expect.

    lxdock shell -c "command1; command2; command3"

But the minute I run things through shlex.quote it en

[2018-03-13 14:39] shuhaowu commented on #129
From the python documentation:

I'm not quite sure if shlex.quote is ever needed when we try to execute the command by first writing it into a file as it is defined for wrapping commands so it can be safely executed via a shell. Perhaps the code was a left over from the days when we were not executing the command fromw within a script but rather directly from the shell command line.

[2018-03-13 15:06] kevcenteno opened #130 "Add a local Ansible provisioner or option"
Vagrant has an option to run an Ansible playbook locally / run Ansible within the guest VM.  This requires a default share (maybe we set this to `/lxdock`).

Does this sounds like something we'd be interested in for this project?  If so, would we want this to be a separate Provisioner class, or set it as a `side` option local the Shell provisioner?

[2018-03-13 17:25] shuhaowu commented on #130
Yes. I want to do this for a while now. It seems wrong to copy your pubkey into the container and also introduce some unnecessary dependencies (a pubkey specifically at ~/.ssh/id_rsa

[2018-03-13 18:45] shuhaowu commented on #130
That said, ansible local requires ansible to be installed in the container, which has its own disadvantages.

[2018-03-13 18:49] shuhaowu commented on #48
Personally don't like having a weird, non-standard jinja yml file. It looks to lead to a road of unmaintainable mess both inside lxdock and possibly in the dev file.

I think we maybe able to provide equivalent functionality via some sort of per-project python plugin functionality where the python plugin file is in the same directory as the project. This plugin could then override/extend the yml f

[2018-03-13 18:51] kevcenteno commented on #130
Another potential issue is how do we go about monitoring the guest-side Ansible output.

[2018-03-13 18:56] shuhaowu commented on #96
@robvdl how does this issue translate with the new uid/gid map system. Do we still care about it to be open?

[2018-03-13 19:11] robvdl commented on #130
Running commands inside containers and getting the output isn't the nicest currently, I'm trying to fix issue #129 as well which runs commands inside the container using lxdock shell -c command.  Basically a shell script is created and put onto the container and then run, I'm not sure if this is absolutely necessary but this is how that bit currently is working.

But yeah this means getting Ansibl

[2018-03-13 19:17] shuhaowu commented on #130
I mean ansible itself is not really that _core_ as it is a part of the lxdock/provisioners. The ansible_local provisioner can do the same.

The reason we should probably include this as a part of lxdock is that it would simplify setting up a dev environment as other developers no longer need to install ansible in their host setup. In fact I've used this exact functionality via vagrant.

What would

[2018-03-13 19:18] robvdl commented on #129
I'll create a PR and remove that call to shlex.quote then, I thought so too.

I'll also fix that mutable default argument because it's in the same function and I just noticed it.

[2018-03-13 19:21] kevcenteno commented on #130
With that said, does it make sense to have a default share set up, like how vagrant does with `/vagrant`?

[2018-03-13 19:34] robvdl commented on #130
Could that tie into having a default user lxdock as well if no users are defined.

Another thing that vagrant does is setup passswordless sudo for the vagrant user, which I currently do with Ansible.

[2018-03-13 19:40] kevcenteno commented on #130
I think the tie-in with a default `lxdock` user makes sense... but I think this user should be set regardless if a user or users are defined by the user.  This gives us a reliable non-root user to run provision tasks.

[2018-03-13 21:48] robvdl commented on #130
mm yeah that is where I wanted something slightly different, I wanted my app user to be the default user instead of lxdock.  My initial suggestion how to handle this was to have default: yes on one of the users (which is optional) if you wanted to override the default and only then it wouldn't create one called lxdock but @shuhaowu convinced me to use the first user in the list instead.

[2018-03-13 21:53] robvdl commented on #129
It looks like the initial intention was that they were running multiple commands line this:

    lxdock shell -c command1 command2

or

    lxdock shell -c "command1" "command2"

But both of those are a bit odd syntax wise and not how Vagrant works, it would be something like this instead:

    lxdock shell -c "command1; command2"

I am putting up a PR where both are still supported by splitting m

[2018-03-13 21:54] kevcenteno commented on #130
A `default: yes` user options makes the most sense to me, especially because I alpha-sort my users; "first user is default" breaks this.

[2018-03-13 22:30] kevcenteno commented on #130
Is there a particular reason not to automatically set up a default share?  Vagrant does this by default, and the user has to explicitly unset this default share: https://www.vagrantup.com/docs/synced-folders/

One advantage of this is that it's less setup for a local Provisioner, since it assumes it's running out of the default `/vagrant` share.

[2018-03-13 22:34] robvdl commented on #130
I was thinking if you don't want your source to be mounted there, I have mine as /src/appname.

That is why I was thinking maybe if a share to "." already exists it won't create a second one, or maybe it should, I don't know.

I suppose I can get used to using the location /lxdock if needed.

[2018-03-13 22:35] robvdl commented on #130
It would keep things simpler if I just changed my workflow and start using /lxdock.

I haven't actually tried to mount "." in two places, it would probably work fine.

[2018-03-13 22:36] kevcenteno commented on #130
That's fair. I prefer working out of the home directory of the vagrant user. I wonder if  mounting in two places would break things?

[2018-03-13 22:40] robvdl commented on #129
There are 2 tests failing because they are testing the old syntax and automatic quoting of each arg.

I feel I need to remove these tests as it's testing behaviour that is no longer valid.

I just feel that lxdock shell -c "command1; command2; command3" is the right syntax and Vagrant works this way.

I think that lxdock shell -c command1 command2 command3 and have it auto quote things is really s

[2018-03-13 22:49] shuhaowu commented on #130
The home directory/default user seems to be another issue. Can we track that in another issue instead?

[2018-03-13 23:58] robvdl opened #132 "Sometimes local tests stop working unless pycache folders are cleaned"
This happened to me, I couldn't run the tests anymore, kept getting the following:

[code]

What fixed it for me is clearning out the pycache folders (.pyc files).

Maybe make coverage should always be doing this, or at least there should be a "make clean" to do this.

[2018-03-13 23:59] robvdl commented on #132
Seems to be a py.test issue, but the easy solution is to clean out the .pyc files.

https://github.com/pytest-dev/pytest/issues/2042

[2018-03-14 00:14] robvdl opened #133 "Creating a default user"
For some features it would be useful to have a default user and possibly a default share.

Currently we have it using the first user in the list for user id mapping for the share, but this doesn't work for everyone, some people sort their list of users alphabetically and the first user is not always going to be the one they want to be the default user.

Other times you might not even want to mess

[2018-03-14 00:17] robvdl commented on #130
Moved default user discussion to issue #133

[2018-03-14 03:36] robvdl commented on #129
In fact Vagrant is quite strict and they only allow the way I suggested, this works:

    vagrant ssh -c "ls -la"

This does not work with Vagrant, and this is the way that lxdock is doing it currently:

    vagrant ssh -c ls -la

I think, like Vagrant, we should error out here rather than attempt to parse that onto individual lines, as that is bound to go wrong.

That means we technically should

[2018-03-14 13:30] kevcenteno commented on #133
We should also specify that the default user (whether `lxdock` or user-defined) is set for _password-less sudo_.  This ensures that provisioners run correctly

This doesn't seem to be much of an issue, (at least from my brief testing).  The advantages of having a default share (in particular, a reliable place for local provisioning scripts to run from and a presumably simpler implementation) outwe

[2018-03-14 13:31] kevcenteno commented on #130
I would say that this blocked by #133

[2018-03-15 03:17] robvdl commented on #133
Interesting you bring the passwordless sudo thing up because I already do this in ansible AFTER provisioning and this is something I've wanted to see happen by default too but I wasn't too sure how others would feel about passwordless sudo, e.g. from a security perspective.

But to me the whole point of LXDock is development containers, a lightweight alternative to Vagrant, and if Vagrant does thi

[2018-03-15 03:25] kevcenteno commented on #133
💯

[2018-03-15 23:13] #129 closed

[2018-03-15 23:22] robvdl commented on #115
redir is another thing I heard being thrown around, a bit hacky but it might work

[2018-03-15 23:24] shuhaowu commented on #115
I looked into this, lxd 3 has support for this natively: https://github.com/lxc/lxd/commit/0babee06e254eedd2db1a4ada6186ecff707d205

[2018-03-16 01:27] robvdl commented on #115
That's cool, maybe we should wait for LXD 3 to be releases then, rather than attempting to do this using hacky workarounds.

[2018-03-21 07:39] #132 closed

[2018-04-26 05:00] shuhaowu opened #141 "lxc_config do not get updated when changed"
It looks like `lxc_config` do not get propagated to the container if it is changed in the config file after a restart.

This is because in the code, `Container._get_container` sets the lxc config. But it's only set when we created the container.

[2018-04-26 05:15] shuhaowu opened #142 "Add a sudoer flag to user"
Add a sudoer flag that allows a user in the yml to allow it to be added to nopasswd sudo.

This should make the work flow that much easier. Should be as easy as adding a file into /etc/sudoers.d

[2018-04-30 02:58] shuhaowu opened #144 "readonly/root only shares"
Right now all the shares into the container is read/writable by the unprivileged user.

It would be useful to have read only/root only shares.

[2018-05-09 15:34] tannoiser opened #146 "UserWarning: Attempted to set unknown attribute "location" on instance of "Container""
Hi.

I don't know if it's a real issue or just a warning or a problem of mine environment, but I got this error message:

[code]

some info on my environment:

[code]

lxd is installed from snap. lxdock is installed following your docs (with pip3 by my user).
I can't say if is a problem or not: it quite works as you can see:

[code]

to me, it seems something in parsing the yaml in the image: subs

[2018-05-09 16:05] shuhaowu commented on #146
This is an upstream issue: https://github.com/lxc/pylxd/issues/301

[2018-05-10 08:01] tannoiser commented on #146
Thank you, I'll close this! ^_^

[2018-05-10 08:01] #146 closed

[2018-05-11 07:27] robvdl commented on #146
Thanks for clarifying this, I have been noticing that message for a while too :)

[2018-05-15 09:52] tannoiser commented on #146
If I may suggest: it could be useful specify in the documentation, the lxd version to use, because the upstream issue as an impact on lxdock. the problem isn't the "warning". It's that 'because of the warning a container don't get an ip'

[2018-05-22 19:44] shuhaowu opened #147 "lxdock shell -c does not use login environment"
When executing a command via lxdock shell -c, it is not providing an environment similar to as if user logged in directly. This is because we are using `su -l <user> -s`, then passing a file that has `#!/bin/sh`. This overrides the login environment as we're now in the hands of /bin/sh.

To fix this, we can probably use `#!/bin/sh -l`, although we might encounter compatibility issues if people's p

[2018-05-24 21:35] shuhaowu opened #148 "lxdock does not provision with ansible without ssh keys"
As title.

[2018-05-24 22:16] hsoft commented on #148
If you wish to revive my PR at https://github.com/ansible/ansible/pull/26922 , be my guest :)

[2018-05-24 22:19] shuhaowu commented on #148
So I think probably the best way forward is to fix #130. However the project is a big stagnant again.. so I might just do that on my fork.

[2018-05-27 15:34] shuhaowu commented on #109
Are there still on going maintenance to this project?

[2018-05-29 08:03] robvdl commented on #109
Yeah it is, sorry I haven't been able to reply on IRC as of lately as I am getting quite bogged down with projects at work as well as outside of work.  I've been meaning to get PRs through but come weekends I've been pretty burnt out.  I will get them through and do want to keep this project going.

[2018-05-29 08:37] robvdl opened #149 "Travis broken???"
After merging the latest commit, I got an email that the travis build broke.

But I no longer see anything here https://travis-ci.com/lxdock/lxdock, I am getting "we couldn't find the repository lxdock/lxdock"

[2018-05-29 08:38] robvdl commented on #149
@hsoft since I am a maintainer but not owner, can you maybe see the travis lxdock project?

[2018-05-29 08:42] robvdl commented on #149
I think this has to do with the recent github app integration upgrade travis ci did, where you can now manage both open source and private projects or something like that.

However it seems after this I can no longer see lxdock/lxdock on travis.

Hopefully it's just an easy fix.

[2018-05-29 22:22] hsoft commented on #149
@robvdl I made you an owner.

[2018-05-30 06:34] robvdl commented on #149
Should be fixed now, had to play around a bit to get it back.

It's running a job now for master, will close this issue once it finishes.

[2018-05-30 06:36] robvdl opened #150 "Python 3.4 build failing because ansible needs to be pinned"
It seems the latest version of Ansible is not working with Python 3.4 anymore:

    ansible requires Python '>=2.6,!=3.0.*,!=3.1.*,!=3.2.*,!=3.3.*,!=3.4.*' but the running Python is 3.4.6

Since Python 3.4 is the version supplied with Ubuntu 14.04 LTS, we should be pinning Ansible until Ubuntu 14.04 LTS goes out of support at least.

[2018-05-30 06:40] robvdl commented on #150
Actually that is wrong what I just said, Ubuntu 16.04 comes with Python 3.5, it's Ubuntu 14.04 that came with Python 3.4

That means we should be able to phase out the Python 3.4 Travis CI job eventually, considering Ubuntu 14.04 goes out of support in April 2019, might as well do it then.

In the mean time we should consider pinning Ansible.

[2018-05-30 06:44] robvdl commented on #149
What confused me is two different domains, travis-ci.org and travis-ci.com, since I also have a number of private repos I work on I was looking on travis-ci.com

[2018-05-30 06:44] #149 closed

[2018-05-30 07:55] robvdl commented on #150
Fixed by pinning Ansible < 2.5, only affects requirements-test.txt so only really affects Travis.

[2018-05-30 07:55] #150 closed

[2018-05-30 14:13] shuhaowu commented on #149
I believe .org merged into .com

[2018-06-26 23:09] robvdl opened #154 "Travis tests very slow and time out, LXD 3 release related?"
First of all, it seems that the latest snap of lxd already creates the network bridge, so this part needs to be removed from the ci-base-setup script.

However, in doing so the tests are now hanging and eventually timing out after 10 mins in Travis CI.

[2018-06-27 00:46] robvdl commented on #154
It appears that the tests are running, it's just very slow to get responses from lxd making the tests run very slow and eventually time out in Travis CI but seem to be fine in a local Vagrant VM.

I'm looking into this, appears to be an lxd 3.x issue.

[2018-06-27 01:19] robvdl commented on #154
Appears to be related to this: https://github.com/lxc/lxd/issues/4548

[2018-06-27 03:49] robvdl commented on #154
I am wondering if in the mean time, the developer merging a commit should run the tests in a local vagrant in the mean time.  It's not ideal, but it could take a while before lxd gets fixed.

[2018-07-05 16:34] shuhaowu commented on #154
Might be related to this: #316

We should pin the version of pylxd to anything BUT 2.2.7 for now.

[2018-07-05 21:57] robvdl commented on #154
oh cool, thanks for that, will look into this.

[2018-07-12 04:42] shuhaowu commented on #144
Resolved by #145

[2018-07-12 04:42] #144 closed

[2018-07-13 01:17] robvdl commented on #154
Yes this seems to be the case, I have pinned pylxd so it won't install 2.2.7

We can probably remove the pin once 2.2.8 has been been released.

I'm going to merged this now so that CI is working again.

[2018-07-13 01:18] robvdl commented on #154
Fixed

[2018-07-13 01:18] #154 closed

[2018-07-16 14:38] battlemidget commented on #106
@robvdl circling back to this, travis-ci now supports xenial and we've not seen any problems in our testing of conjure-up using this method:

https://github.com/conjure-up/conjure-up/blob/master/.travis.yml

There's also examples in there for testing against newly released python 3.7

[2018-07-16 14:39] battlemidget opened #156 "turn lxdock into a snap"
Feature request to turn lxdock into a snap, I could probably take a stab at this shortly.

[2018-08-24 18:30] candlerb opened #157 "Document container naming mechanism"
When using the sample [lxdock.yml](https://lxdock.readthedocs.io/en/stable/getting_started.html#your-first-lxdock-file), I get containers whose names are `<project name>-<container name>-<some digits>`.

[code]

I couldn't see any documentation about how containers are named, and it's not easy to find in the code either.  I did eventually find it - it seems the suffix is `project_id` and comes fro

[2018-08-26 08:59] robvdl commented on #157
Maybe worth adding something short about this. As far as I know the reason for this is that some people may want to clone the same project in two locations, do a lxdock up, and end up with two differently named containers.

[2018-11-18 07:09] ppabcd opened #158 "Get Errors when running lxdock up"
i have trouble when running lxdock up and get this errors.
![gambar](https://user-images.githubusercontent.com/7419422/48669629-451e1f80-eb3b-11e8-9dc7-e89f120dfddf.png)
I'm using ubuntu:16.04 docker image for creating gitlab ci. I have try in local machine and nothing get erros. But when running in gitlab ci i get this erros. How to fix this errors.
Full Errors:

[code]

[2018-11-18 18:07] bmullan opened #159 "just fyi on docs still needing to reference SNAP LXD"
Just an fyi but this page doesn't yet reference using SNAP to install LXD.

https://lxdock.readthedocs.io/en/stable/getting_started.html

Saw your announcement on /r/lxd subreddit...!

[2018-11-18 19:12] robvdl commented on #159
I'll check it out in the next couple of days, I I thought at some point we had two installation methods documented, but I am not sure if the APT method is even relevant anymore because the PPA repos are long gone.

[2018-11-18 21:37] ppabcd commented on #158
like this? `sudo usermod --append --groups lxd root`  @robvdl

[2018-11-20 00:07] robvdl commented on #158
Yeah but I also see your original question, you are trying to run lxd inside a docker container if I am understanding correctly? I have never tried this.

[2018-11-20 00:39] robvdl commented on #158
You wouldn't normally need to add yourself to the lxd group is this is already the root user, this is only something you would do for non-root users to use lxd.

However, running lxd inside docker is something I really haven't tried, I'm not sure how well it would work.

[2018-12-27 23:31] robvdl commented on #109
I'm a little worried about the project now myself, as I too have started using docker-compose, I too have stopped using lxdock now. I had intentions to do some catching up over the Christmas break but I am always extremely busy being a senior dev at work and am finding I have far too much backlog of other unrelated work to actually work on this project. I might still have a go at it in the the nex

[2018-12-29 02:05] shuhaowu commented on #109
I'm still using it on my downstream fork

[2018-12-29 03:30] robvdl commented on #109
The reason why I was feeling a bit bad about it is because I started making changes around shares and had the intention to do an 0.5 release but that never really happened.

[2019-01-04 20:41] robvdl opened #160 "Investigate: pyYaml security vulnerability"
It looks like we have to be on the beta version of PyYaml, got a github security notification.

Too busy to look into it now, it isn't likely a big issue as yaml files are generated by the developer anyway.

It looks like we should be on PyYaml >= 4.2b1 but need to test if the code is compatible with this version, the released version 3.13 is supposed to be vulnerable which is why we need to be on

[2019-01-09 02:02] shuhaowu commented on #109
If this project needs a maintainer, I can try to maintain this as I use it on a daily basis for several different use cases. There are a also a bunch of features I would like to add to this, beginning with some sort of fast module system that would allow more extensive functionality (like the X integration PR that I have open) that might not necessarily belong in the main code base.

That said, I

[2019-02-08 19:58] lingxiaoyang opened #161 "pylxd 2.2.9 breaks lxdock"
The change in pylxd 2.2.9 regarding `container.execute()` seems to break the command execution of lxdock and it is breaking the initialization.

Here's what I captured in logs of `lxdock -v up` with pylxd 2.2.9:

[code]

With pylxd 2.2.8, all is good:

[code]

[2019-02-16 20:27] justmeandopensource opened #162 "Do we have any option to start the containers in serial and not parallel?"
Created a lxdock.yaml file with few containers. I would like to start the containers one by one as each one depends on the previous one.
In Vagrant we have an option like --no-parallel. Is there anything equivalent?

Thanks,
Venkat

[2019-02-16 20:43] robvdl commented on #162
Hi, at the moment lxdock is barely maintained as I have started using docker-compose I no longer have need for lxdock, I think we're just down to 1 or 2 developers who are both quite busy on other projects, the project hasn't really moved for a few months now. Unless you're willing to add this functionality yourself as a PR, I don't see this being added due to the lack of manpower right now.

[2019-02-16 20:50] robvdl commented on #162
I know this answer sounds quite grim sorry, but I just like to state things how they really are. There are a number of outstanding issues like #161, #147 just to list a few and my effort towards a 0.5 release have basically stalled. See #122, #133, and also about the state of the project see #106 / #109

[2019-02-16 20:53] justmeandopensource commented on #162
No problem. Thanks for this work. I find it very useful for my case even in its current state.

[2019-02-16 20:53] robvdl commented on #162
With docker compoose you would basically do this with container dependencies, e.g. the "web" container is dependent on the "db" and "redis" container, so it must start the db and redis container first.

[2019-02-16 20:55] justmeandopensource commented on #162
Yeah I have been using docker-compose for a long time. But it won't help for lxd containers, will it?

[2019-02-16 20:56] robvdl commented on #162
No but it's just a suggestion how it could be implemented.

[2019-02-16 20:57] justmeandopensource commented on #162
Yeah. Thanks.

[2019-02-16 20:57] #162 closed

[2019-02-16 20:58] bmullan commented on #162
There are some other projects tho.  Like

https://github.com/turtle0x1/LxdManager

[2019-02-16 21:00] justmeandopensource commented on #162
Thanks. I will take a look.

[2019-02-16 21:01] bmullan commented on #162
There is also openstack & opennebula

[2019-03-08 01:42] auvipy commented on #156
how to do this?

[2019-05-14 01:01] shuhaowu commented on #115
I might be able to add this soon-ish. I just tried it with LXD 3 and it works well.

For reference, the raw command is as follows:

    lxc config device add containername port12345 proxy listen=tcp:0.0.0.0:12345 connect=tcp:127.0.0.1:12345

This allows any host to connect to the host machine which will then allow it to connect to the container's 12345 port.

[2019-05-14 10:37] robvdl commented on #115
Ok cool, I can code review if needed, I hope CI still works I haven't checked for a long time.

[2019-05-14 11:17] bmullan commented on #115
I would like to clarify that in the example given "port12345" can be any
meaningful ID name for the entry.

Also, the LXD Device Proxy command also works for UDP and other protocol
types...  Search for "TYPE: PROXY"
on the following page for a list of all types that Device Proxy supports:
https://github.com/lxc/lxd/blob/master/doc/containers.md

Finally, its important to also know the command to r

[2019-10-13 05:16] #104 closed

[2020-01-17 12:14] mtausig opened #165 "SSH keys with other algorithms should be supported"
Currently, SSH key deployment into the container uses a hardcoded key name (`~/.ssh/id_rsa.pub`). Thus keys using another algorithm (ed25519, ecdsa) are not detected.

[2020-01-17 12:23] mtausig opened #167 "Deploy SSH keys to user accounts"
Currently, the SSH key from the host machine is only deployed to the `authorized_keys` file of the root user in the container.
If additional users are created in the container by lxdock, it would be desirable to make it an authorized key for them as well.

[2020-01-24 20:12] robvdl commented on #133
Since I no longer use lxdock myself, I no longer have an itch to solve this where you can have a customer lxdock username other than "lxdock". I think it's fine with a fixed username now to be honest, I'm OK with closing this actually as I will never need this myself.

[2020-02-09 23:58] #165 closed

[2020-02-10 00:31] robvdl commented on #161
The upper limit for the pylxd version was recently removed, I'm closing this issue now as it should be fixed if we are using a newer version than pylxd 2.2.9

[2020-02-10 00:31] #161 closed

[2020-02-10 00:34] robvdl commented on #159
Since we haven't done a release in like forever, the docs published there are now very old.

The project has been in limbo for a long time, with very little maintenance as I don't actively use it myself anymore, it means we get patches coming in from time to time but no real releases.

I thought we did document installing from snap, it just hasn't made it into a release yet.

[2020-02-10 00:42] robvdl commented on #158
I think this can be closed

[2020-02-10 00:45] robvdl opened #171 "UserWarning: Attempted to set unknown attribute "type" on instance of "Container""
This comes up when you do "lxdock up", tested in a vagrant vm.

Also seeing something similar when I do "lxdock shell":

[code]

[2020-02-10 01:03] robvdl commented on #160
We can upgrade PyYAML now, I've tried a newer version and it seems to be working fine.

Running into "other" unrelated breakages, but seems unrelated. We should be able to upgrade PyYaml no problem.

[2020-02-10 01:30] #160 closed

[2020-02-10 03:34] robvdl commented on #146
We have a similar message now described in issue #171 except this time it's the type property instead of location.

As for pinning the lxd version, is that even possible with snaps? I thought that snaps always auto upgrade in the background without warning, unless there is a way to pin snaps.

[2020-02-10 08:35] robvdl opened #175 "Add Black"
Just wondering if we should add Black to make it easier for people to autoformat their PRs.

Right now we have flake8 and isort but fixing them up manually until the PR passes can be annoying, especially if a CI run is quite slow.

If we do this, it might mean reformatting the entire codebase at once, which can be annoying but if we clear all unmerged PRs it could be possible to do.

[2020-02-10 08:41] mtausig commented on #122
With #169 merged, we can check the second last box.

[2020-02-10 08:45] mtausig commented on #146
We wouldn't need to pin the snap, but only thy pylxd version within the snap, if I understood the error message correctly.

[2020-02-10 09:14] #167 closed

[2020-02-10 18:02] robvdl commented on #122
Yeah we really should try to make the 0.5 release happen. I got so busy at work over the last year the lxdock project just didn't move (until recently again).

[2020-02-10 19:02] robvdl commented on #146
The pylxd version can easily be controlled but it isn't in the snap, it's in our requirements file.

But as far as I understand, snaps update automatically which is something I really dislike about snaps. So there could be a situation at some point if you start pinning pylxd and the lxd snap auto updates, it can break our app.

So as I understand it, snaps are always updating, so we have to move w

[2020-02-11 07:35] mtausig commented on #146
THe way I understood it, all dependencies (like pylxd) are within the snap with no external dependencies. But I'll give it a try some time and let you know.

[2020-02-14 02:12] #159 closed

[2020-02-23 16:13] devopstales commented on #158
what was the soultion? I got a similar error on a fedora 31 with and without using root user. My simple user is a member of lxd group.

[code]

[2020-02-23 19:03] robvdl commented on #158
Could this be something to do with Gitlab CI or running in Docker? Because that is running LXD on top of Docker, I haven't actually tested that yet, not sure if anyone else has?

As I remember that was specifically why we used Travis CI because as I recall that doesn't run on Docker. Someone needs to setup an isolated test to try out LXD + lxdock inside Docker, perhaps we can get it working with s

[2020-02-23 19:07] robvdl commented on #158
I've added the help wanted label because I am currently too busy to look into this, perhaps someone else wants to check this out? Could be related to running lxdock inside Docker containers but needs testing as that is just a guess.

[2020-02-23 23:46] robvdl commented on #147
We set SHELL now, not sure if anything else needs to be done. Surely there must be more login environment variables we're still missing.

[2020-02-28 15:55] mtausig commented on #147
@shuhaowu Do you have an example script which previously failed, to validate if #173 was enough to close this issue?

[2020-03-02 12:38] mtausig commented on #171
Can be closed since #180 got merged.

[2020-03-02 12:41] mtausig commented on #158
Have you tried the *docker-in-docker* runner of the Gitlab CI?

[2020-03-02 17:59] #171 closed

[2020-04-30 18:37] shemgp opened #181 "Seeing output of provisioning"
Is there a way to see the output of the provisioning phase? I need to see if my provision script errored out and the output if it does. Thanks.

[2020-05-11 20:56] salotz commented on #157
This issue should be about being able to customize this. I don't like having this. In my scripting I have to parse lxd outputs to do anything with the container.

[2020-10-20 11:09] devopstales commented on #158
The fedora is on my laptop not in docker.

[2020-10-20 11:13] devopstales opened #182 "lxdock up erron on fresh ubuntu 20.04 Focal"
[code]

[2020-10-22 19:14] robvdl commented on #182
I'm only going to be able to properly look at this in early November as the project really lacks maintainers, and I don't even actively use it anymore.

Anyway in the mean time have you tried going to older stable releases of LXD, it's been a while since I tried LXDock at the start of the year and many LXD versions have come out since. Then I got completely bogged down at work and I have a bunch o

[2020-10-22 19:15] robvdl commented on #182
Make sure you have added yourself to the lxd group as well, I recall that being a requirement. You should not really run lxdock as sudo.

[2020-10-22 19:34] robvdl commented on #182
Also how did you install lxdock? Not via pip install I hope?

Just need to make sure because the project hasn't pushed a release to pypi for years as I have not been able to maintain it properly due to always being so busy at work as a senior dev across many different projects and teams, and being the only maintainer on LXDock I often just can't get to it fast enough. We only get a few PRs every y

[2020-10-22 19:42] robvdl commented on #182
FYj, I won't look at this further until next week but I did try to install it on KDE Neon 20.04 (which is close enough to Focal).

I ran into some compatibility issue with a library ws4py and Python 3.8, I think it needs investigation:

[code]

I have no clue at this point what is even depending on the library ws4py, I've never heard of this library until today. But that library hasn't had an upda

[2020-10-22 19:50] robvdl commented on #182
This is what I got from installing latest lxd snap, adding myself to the lxd group, installing latest lxdock master and creating a fresh project using `lxdock init` then `lxdock up`.

It seems a new step is needed to create a storage pool. This is new to me as I have not used lxd since early this year:

[code]

Need to investigate what is needed to create a 'storage pool', could try downgrading lx

[2020-12-10 18:49] robvdl opened #183 "Moving away from Travis CI"
As of December 31 Travis is shutting down it's .org domain, the timing couldn't be worse... around the Christmas period having to switch to another service. Can Gitlab Actions even work with creating and starting containers?

[2022-11-05 08:54] robvdl opened #184 "Archive project?"
Several years have passed since the original authors of lxdock moved on. I took over for a while, but I stopped using lxdock years ago for docker compose and it's just been sitting here gathering dust.

There haven't really been enough maintainers step up to keep this project going. Basically the project is dead at this stage in many peoples eyes. There has never been a pypi release since the orig

[2022-11-05 08:55] robvdl commented on #122
See #184

[2022-11-05 08:57] robvdl commented on #109
Hi @shuhaowu I missed this message in 2019, must have been too busy during the pandemic and I didn't see this, or I just forgot about it.

Anyway, see #184

I basically can't maintain the project, it's irrisponsible to just let it sit here and rot and give people the illusion the project still works (I doubt it does). I would archive it unless you want to take over.